* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #2b110d;
  background: rgb(243 231 223);
}
.botao-carrinho{
}
.topo {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
  background: #6b4226;
}

.logo {
  height: 40px;
}

.titulo {
  font-size: 28px;
  font-weight: bold;
  color: #ffc462;

}

.menu-links {
  margin-left: auto;
  display: flex;
  gap: 16px;
}

.menu-links a {
  color: #ffc668;
  text-decoration: none;
}

.secao-cardapio,
.secao-reserva {
  max-width: 720px;
  margin: 0 auto;
  padding: 24px;
}

.prato {
  border-bottom: 1px solid #eeeeee;
  padding: 16px 0;
  position: relative;
}

.prato img {
  width: 96px;
  height: 96px;
  object-fit: cover;
  float: left;
  margin-right: 16px;
  border-radius: 8px;
}

.nome-prato {
  font-size: 18px;
  font-weight: bold;
  color: #55271a;
}

.descricao {
  font-size: 14px;
  color: #7e361d;
}

.preco {
  font-size: 14px;
  color: #5a1f11;
}

.tag-vegetariano {
  color: #0046ff;
  font-size: 12px;
  font-weight: bold;
}



.secao-reserva form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 320px;
}

.secao-reserva input {
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 14px;
}

.rodape {
  background: #a8715a;
  padding: 16px 24px;
  text-align: center;
}

.observacoes {
  font-size: 10px;
  color: #ffffff;
}
